@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
  --card-border-rgb: 255, 255, 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Mulish;
}

a {
  color: inherit;
  text-decoration: none;
}