.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  border-bottom: 2px solid rgb(245,245,246);
}

.top {
  height: 30px; 
  background-color: #f6ff33;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin-left: 20px; 
  font-size: 14px;
}

.right {
  margin-right: 20px; 
  font-size: 14px;
}

.bottom {
  height: 60px; 
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 20px;
}

.link {
  margin: 0 10px;
  font-weight: bold;
  font-size: 14px;
}

.end {
  display:flex;
  align-items: center;
}

.help {
  margin: 0 10px;
  font-size: 14px;
}

.client {
  display: flex;
  background-color: yellow;
  margin-right: 20px;
  width: 80px;
  height: 40px;
  border-radius: 4px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}