.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
}

.top {
  height: 30px; 
  background-color: #f6ff33;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  height: 60px; 
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(245,245,246);
}

.left {
  text-align: left;
  margin-left: 20px; 
  font-size: 14px;
}

.right {
  text-align: right;
  margin-right: 20px; 
  font-size: 14px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px; 
}

.service {
  width: var(--max-width);
}

.link {
  margin: 0 10px;
  font-weight: bold;
  font-size: 14px;
}