.div {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, auto));
    width: var(--max-width);
    max-width: 25%;
  }

.card {
    padding: 1rem;
    border-radius: var(--border-radius);
    background-color: #f6ff33;
}

.text {
    font-size: 2rem;
    text-align: center;
}