.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.item {
    border-radius: var(--border-radius);
    border: 2px solid rgba(var(--card-border-rgb), 1);
}

.text {
    font-size: 1.5rem;
    text-align: center;
}

.p {
    text-align: center;
}