@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item {
    border: 2px solid rgb(235,235,235);
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 325px;
}

.image {
    margin-top: 15px;
}

.text {
    font-size: 1.5rem;
    margin: 15px 15px;
}

.p {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}