.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.item {
    border-radius: var(--border-radius); 
    border: 2px solid rgba(var(--card-border-rgb), 1);
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: yellow;
}

.text {
    font-size: 1.5rem;
    margin: 10px 10px;
}

.p {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 800;
}